body {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #12022f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  letter-spacing: -0.36px;
}
.bg-seconder{
    background-color: #391484;
}
.btn {
  padding: 15px 24px;
  border-radius: 28px;
  color: #12022f;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.btn:hover {
  background-color: #ffdda9;
  border-color: #ffdda9;
  color: #12022f;
}
.btn-primary {
  background-color: #ffdda9;
  border-color: #ffdda9;
}
.btn-outline-primary{
    border: 2px solid #E7E5EA;
}
button:focus{
  outline: 0px !important;
  box-shadow: none !important;
}
.navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 700;
  color: #12022f;
  padding: 10px 0px;
}
.navbar-collapse{
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 0px;
  background-color: #fff;
  width: 100%;
  padding: 0 20px;
}
.navbar-toggler{
width: 58px;
height: 58px;
padding: 16px;
border-radius: 100%;
border: 2px solid #E7E5EA;
background-color: transparent;
}
.search-container {
	position: relative;
	display: inline-block;
	margin: 0px 20px;
	height: 25px;
	vertical-align: bottom;
}
.mglass {
	display: inline-block;
	pointer-events: none;
}
.searchbutton {
	position: absolute;
  top: 0px;
  left: 0px;
}
.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}
.button {
	display: inline-block;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.button:hover {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}
.search {
	position: absolute;
	left: 49px; 
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
  top: 0px;
}
.search:focus {
	width: 285px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 20px; /* Button width-1px */
}
.expandright:focus {
	padding: 0 0 0 16px;
}

.search-input input[type=text] {
  width: 136px;
  box-sizing: border-box;
  border: 2px solid #E7E5EA;
  border-radius: 28px;
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  background-image: url('../img/search.svg');
  background-position: 23px 14px; 
  background-repeat: no-repeat;
  padding: 14px 24px 14px 54px;
  color: #12022f;
  letter-spacing: -0.36px;
}

.search-input input[type=text]:focus {
  border: 2px solid #E7E5EA;
}
.search-input input[type=text]:focus-visible {
  outline: 0px;
}

/******* Navication 1*******/
.header-1,
.header-2,
.header-3,
.header-4,
.header-5,
.header-6,
.header-7,
.header-8,
.header-9,
.header-10,
.header-11,
.header-12,
.header-13,
.header-14,
.header-15,
.header-16,
.header-17,
.header-18,
.header-19,
.header-20,
.header-21,
.header-22 {
  padding: 21px 0px;
}
.header-11 a.logo{
  margin-left: -6rem;
}
.header-15 a.logo{
  margin-left: 40px;
}

.mega-drop-down a:hover+.mega-menu{
	display:block;
}
.mega-menu {
  display:none;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse{
    position: static;
    padding: 0px;
    background-color: transparent;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 20px;
  }
  .header-1 .search:focus {
    width: 325px; /* Bar width+1px */
  }
  .header-3 {
    padding: 37px 0px;
    gap: 64px;
  }
  .header-3 .search:focus {
    width: 465px; /* Bar width+1px */
  }
  .header-4 {
    padding: 20px 0px;
    gap: 64px;
  }
  .header-5 {
    padding: 37px 0px;
    gap: 64px;
  }
  .header-5 .search:focus {
    width: 425px; /* Bar width+1px */
  }
  .header-9 {
    padding: 35px 0px;
    gap: 31px;
  }
  .header-10 a{
    margin-left: 5rem;
  }
  .header-11.navbar-expand-lg .navbar-toggler{
    display: block !important;
  }
  .header-11 a.logo{
    margin-left: 17.7rem;
  }
  .header-12{
    padding: 20px 0;
  }
  .header-12 a.logo{
    margin-left: -8rem;
  }
  .header-13 {
    padding: 35px 0px;
    gap: 31px;
  }
  .header-13 .navbar-nav li a {
    padding: 0 20px;
    position: relative;
  }
  .header-13 .navbar-nav li a::before{
    position: absolute;
    content:"";
    bottom: -8px;
    z-index: 99;
    width: 32px;
    height: 2px;
    background-color: transparent;
    left: 50%;
    margin-left: -16px;
    transition:all .15s;
  }
  .header-13 .navbar-nav li a:hover::before{
    background-color: white;
  }
  .header-14{
    padding: 20px 0;
  }
  .header-14 a.logo{
    margin-left: -3rem;
  }
  .header-19{
    padding: 38px 0;
  }
  
}
.bg-seconder .navbar-nav .nav-link{
  color: #fff;
}
.bg-seconder .navbar-collapse{
  background-color: #391484;
}
.bg-seconder .search{
background-color: #391484;
color: #fff;
} 
.bg-seconder .search:focus + .searchbutton{
  background-color: #391484;
}
.bg-seconder .navbar-toggler{
  border: 2px solid rgb(231 229 234 / 10%);
}
.bg-seconder .btn{
color: #fff;
}
.bg-seconder .btn:hover{
  color: #12022f;
  }
.bg-seconder .btn-outline-primary{
  border: 2px solid rgb(231 229 234 / 10%);
}
.bg-seconder .btn-primary{
  color: #12022f;
}
.bg-seconder .search-input input[type=text]{
  background-color: #391484;
  border: 2px solid rgb(231 229 234 / 10%);
  background-image: url('../img/search-light.svg');
  background-position: 23px 14px;
    background-repeat: no-repeat;
    padding: 14px 24px 14px 54px;
    color: #fff;
}

